.welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 70em;
    height: 20em;
}

.welcome hr {
    width: 100%;
}

.welcome a {
    color: white;
    cursor: pointer;
    text-decoration-line: initial;
}
