:root {
  --br: 1em;
}

.nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  place-content: center space-around;
}

.nav ul {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul li:hover {
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

.nav a {
  color: white;
  text-decoration-line: none;
}

.nav img {
  width: 5%;
  margin-left: 2em;
}

.search {
  display: flex;
  flex-flow:  row wrap;
  place-content: center center;
  margin-left: 5em;
  width: 40%;
}

.search-input, .search-btn {
  border: none;
  outline: none;
  font: inherit;
  height: 2em;
}

.search-input {
  width: 80%;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
  padding-left: 1em;
}

.search-btn {
  width: 100%;
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}