.new-category {
  width: 100%;
  flex: 15 1 0;
  display: flex;
  flex-flow: column wrap;
  place-content: center space-around;
  align-items: center;
  padding: 2em;
}

.new-category div {
  width: 40%;
}

.flex-form {
  padding: 0.5em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5em;
  box-shadow: 0px 0px 10px 2px #806900;
  width: 40%;
}

fieldset {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  border: none;
}

fieldset input, textarea {
  border: none;
  outline: none;
  font: inherit;
  border-radius: 1em;
  padding: 0.5em;
}

fieldset textarea {
  height: 20em;
}
